.git
.gitignore
.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.DS_Store
frontends/web/node_modules
frontends/web/dist
storage/mysql
storage/mysql.bak_*
storage/redis
storage/uploads
storage/temp
storage/outputs
